
.confirm__content{
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.form{
    margin: 0 auto;
    width: 70%;
}

.confirm-table{
    border: 1px solid #ddd;
}

.confirm-table__inner{
    width: 100%;
}

.confirm-table__header{
    padding:10px 30px;
    width:30%;
    border-bottom: 1px solid #ddd;
    background-color: #BAA999;
    font-weight: normal;
    color : #fff;
    text-align: left;
}

.confirm-table__text{
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.confirm-table__text input{
    width: 100%;
    outline: none;
    border: none;
}

.confirm-table__row:last-child .confirm-table__header,
.confirm-table__row:last-child .confirm-table__text{
    border-bottom-width: 0;
}

.form__button {
    margin-top: 30px;
    text-align: center;
}
.form__button-submit {
    padding: 10px;
    width: 12%;
    height: 40px;
    border: none;
    border-radius: 3px;
    background: #82756B;
    color: #fff;
    cursor: pointer;
    margin-right: 30px;
}
.from__link-back{
    margin-top: 30px;
    text-align: center;
    color: #8F7E6E;
}