
.contact-form__content{
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.form{
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.form__group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: center;
}

span.form__label--required::after {
    content: "※";
    color: red;
    margin-left: 2px;
}

.form__group-content{
    width: 65%;
}

.form__input--text input,
.form__input--textarea textarea{
    padding: 10px;
    border: none;
    border-radius: 3px;
    appearance: none;
    background-color: #F4F4F4;
    color: #8F7E6E;
}

.form__input--text,
.form__input--radio{
    display: flex;
    min-width: 0;
    box-sizing: border-box;
    gap: 10px;
    vertical-align: top;
    align-items: center;
}

.form__input--text input {
    height: 30px;
    flex: 1 1 50px;
    min-width: 40px;
    padding: 4px;
}

.form__input--text span {
    display: inline-block;
}

.form__input--textarea textarea{
    width:100%;
    height: 100px;
    resize: none; /* リサイズ禁止 */
}

.form__input--radio-item{
    margin-left: 10px;
    margin-right: 20px;
}

.radio-hidden{
    display: none;
}

/* ラベルで丸ボタンを作る */
.custom-radio {
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    display: inline-block;
    line-height: 24px;
    user-select: none;
}

/* 外側の丸 */
.custom-radio::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    border: 1px solid #ccc;
    border-radius: 50%;
    background: #fff;
}

/* 選択時の中の丸 */
.radio-hidden:checked+.custom-radio::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #82756B;
}

.select-wrapper {
    position: relative;
    width: 55%;
}

.select-wrapper select {
    width: 100%;
    padding: 8px 30px 8px 10px;
    border: none;
    border-radius: 3px;
    background-color: #F4F4F4;
    color: #8F7E6E;
    appearance: none;
    /* ブラウザ標準の矢印を消す */
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* 疑似要素で三角を作る */
.select-wrapper::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #8F7E6E;
    transform: translateY(-50%);
}

.form__button{
    margin-top: 30px;
}

.form__button-submit{
    padding: 10px;
    width: 20%;
    height: 40px;
    border: none;
    border-radius: 3px;
    background:#82756B;
    color: #fff;
    cursor: pointer;
}
